

.bg-gray{
background-color:#404e67 ;
color: #dcdcdc;
}

.pointer{
  cursor: pointer;
}

.btn-play-list{
  margin: 0 .1rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: #dcdcdc;
  transform: scale(1);
  font-size: .8rem;
}
.btn-play-list:focus{
  outline: none;
}
.btn-play-list:hover{
  transform: scale(1.3);
  color: white;
}

.btn-looper-play{
border: none;
background-color: transparent;
font-size: larger;
color: wheat;
padding: .8rem;
position: relative;
}
.btn-looper-play:hover{
  background: #dcdcdc;
  border-radius: 50%;
  
}
.btn-looper-play:focus{
  outline: none;
}
.btn-looper-pause{
border: none;
background-color: transparent;
font-size: larger;
color: wheat;
padding: .8rem;
position: absolute;

}
.btn-looper-pause:hover{
  background: #dcdcdc;
  border-radius: 50%;
  
}
.btn-looper-pause:focus{
  outline: none;
}